/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-color: #6750a4;
  --onprimary-color: #ffffff;
  --secondary-color: #625b71;
  --primary-container-color: #eaddff;
  --primary-oncontainer-color: #21005d;
  --secondary-container-color: #e8def8;
  --secondary-oncontainer-color: #1d192b;
  --outline-color: #cac4d0;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--onprimary-color);
  --color-background-soft: var(--primary-container-color);
  --color-background-mute: var(--secondary-color);

  --color-border: var(--outline-color);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--primary-oncontainer-color);
  --color-text: var(--secondary-oncontainer-color);
}
