@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  max-width: 1440px;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RootRezidents {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.wrapperformCreate {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #3488f591;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.formCreate {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: nowrap;
  width: 30%;
  border-radius: 1em;
  padding: 2em;
  position: relative;
  background-color: rgb(253, 253, 253);
}

.closeButton {
  position: absolute;
  top: -1.5em;
  right: 0;
}

.errorMessage {
  background-color: rgba(245, 151, 151, 0.26);
  width: 100%;
  padding: 0.7em;
  color: red;
  border-radius: 5px;
  font-size: small;
  margin-bottom: 1em;
}

li {
  list-style: none;
}

label {
  margin-bottom: 0.5em;
}


.p-password-input {
  width: 100%;
  margin-bottom: 1em;
}

.p-input {
  width: 100%;
  margin-bottom: 1em;
}


.p-card {
  width: 100%;
}

.p-divider {
  width: 100%;
  margin-bottom: 1em;
}

.p-dropdown {
  min-width: 100%;
  margin-bottom: 1em;
}
